html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  font-family: sans-serif;
  color: #aaa;
}

a {
  color: #ffff00;
  text-decoration: none;
}

a:hover {
  color: #bbbb00;
}
