.panel {
  position: absolute;
  padding: 10px;
  border: 1px solid #222;
  background: #444;
  z-index: 99;
}

.panel-header {
  display: block;
  margin: -10px -10px 10px -10px;
  padding: 5px;
  background: #333;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  user-select: none;
  cursor: default;
}
